html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar {
  color: rgba(255,255,255,.5);
  background-color: #252525;
}

.sidebar a {
  color: #ddd;
}

/* About section */
.sidebar-about h1 {
  color: #eee;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}