<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ site.github.url }}"><h1>{{ site.title }}</h1></a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <!--<li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Tabela de Conteúdo</a>
      </li>-->

      {% assign articles = site.articles | sort:"order" %}
      {% for article in articles %}
        <li class="sidebar-nav-item{% if page.url == article.url %} active{% endif %}">
          <a href="{{ site.github.url }}{{ article.url }}">{{article.order}}. {{ article.title }}</a>
        </li>
      {% endfor %}
      <br />
      <li class="sidebar-nav-item{% if page.title == "Sobre" %} active{% endif %}">
        <a href="{{ site.github.url }}/about">Sobre</a>
      </li>
  </div>
</div>
