---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>

{% unless page.single_page %}
  <div class="pagination">
    {% if page.previous_page %}
      <a class="pagination-item older" href="{{ site.github.url }}/{{ page.previous_page }}">Anterior</a>
    {% else %}
      <span class="pagination-item older">Anterior</span>
    {% endif %}
    {% if page.next_page %}
      <a class="pagination-item newer" href="{{ site.github.url }}/{{ page.next_page }}">Próximo</a>
    {% else %}
      <span class="pagination-item newer">Próximo</span>
    {% endif %}
  </div>
{% endunless %}